* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}
#footer, #push {
  height: 25px; /* .push must be the same height as .footer */
  margin-top:15px;
}
#footer{
  background-color: #999;
  border-top:1px black solid;
  color:white;
}
#footer-name{
  margin-left:25px;
}
#footer-logo{
  margin-right:25px;
}