body{
  padding-top:40px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 50px;
}
#nav-title{
  color:white;
}

@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
  }

  #footer-inner{
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    color:white !important;
}

#footer-inner{
  line-height: 40px;
}

.navbar{
  color:white;
}

#footer{
  color:black;
}
.cat-back{
  line-height: 40px;
  margin-left:10px;
  position: relative;
  z-index: 5;
}

ul{
  list-style-type: none;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}