.cat{
	border: 1px black solid;
	width: 95%;
	padding: 5px;
	overflow: hidden;
	min-height: 72px;
}

.item{
	border: 1px black solid;
	height: 50px;
	width: 50px;
	margin: 10px;
	float:left;
}

#cat-container{
	clear:both;
};