/* CSS declarations go here */
/*#project{
	text-align: center;
}

.category{
	height:60px;
	border:1px black solid;
	margin: 15px;
}

.cat-name{
	margin: 10px auto 0 auto;
}

#Tatic{
	background-color: teal;
}

#Strategy{
	background-color: blue;
}

#Objective{
	background-color: orange;
}

#Goal{
	background-color: green;
}*/

.description{
	width:97%%;
	margin-right:10px;
	resize: vertical;
}

#full-name{
	width:200px;
}

#project_choice{
	margin:25px;
}

.cat-arrow{
	float:right;
}
.category{
	height:35px;
	margin:10px;
}
#cat-list{
	margin-top:10px;
	font-size: 35px;
}
#cat-page{
	margin-top:10px;
}
#cat-text{
	width:100%;
	resize:vertical;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.cat-card{
	clear:both;
	border: 1px black solid;
	margin-top:10px;
	height: 80px;
}
.cat-card-desc{
	margin-left:5px;
	height: 100%;
	overflow-y: scroll;
}
#cat-cards{
	margin-top:40px;
}
.remove-card{
	margin:5px;
}
.cat-card-inital{
	padding:2px;
	font-size: 24px;
}
.Objective-initial{
	color: blue;
}
#cat-list{
	margin-left:0px;
}
.pad{
	padding-left: 10px;
	padding-right: 10px;
}
.cat-icon{
	margin-top: 6px;
}
.cat-count{
	font-size:20px;
	float:left;
	margin-top:4px;
}